.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 100%;
    z-index: 10;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav__item {
    margin-right: 30px;
    font-size: 1rem;
    &:last-child {
        margin-right: 0;
    }
}
