.userList-section {
    width: 100%;
    min-height: 100vh;
    background-color: $biege;
}
.userList-container {
    @include container;
    padding: rem(162px) 5.1875rem;
    @include tablets {
        padding: rem(120px) rem(30px);
    }
    @include phones {
        padding: rem(80px) rem(15px);
    }
}
.userList-title {
    margin-bottom: 7.5rem;
    @include imediate {
        margin-bottom: rem(48px);
        text-align: center;
    }
    @include phones {
        margin-bottom: rem(75px);
    }
}
.user-list {
    display: grid;
    grid-template-columns: rem(200px) rem(200px) rem(200px);
    grid-row-gap: rem(60px);
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    @include imediate {
        grid-template-columns: rem(200px) rem(200px);
    }
    @include phones {
        grid-template-columns: rem(200px);
        grid-row-gap: rem(40px);
        justify-content: center;
    }
}
.user-list__item {
    position: relative;
    width: 20.75%;
    max-width: 20.75%;
    min-width: 12.5rem;
    display: flex;
    letter-spacing: -0.3px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.user-list__wrap-pic {
    width: 4.375rem;
    height: 4.375rem;
    margin-bottom: 0.25rem;
}
.user-list__img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
    background: url(../assets/photo-cover.png) center center / cover no-repeat;
}
.user-list__name {
    font-size: 1.5rem;
    margin-bottom: 0.3125rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-list__phone-number {
    color: $lightBlack;
}
.user-list__position {
    color: $lightBlack;
    margin-bottom: 0.35rem;
}
.user-list__email {
    color: $lightBlack;
    margin-bottom: 0.35rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tooltip {
    position: absolute;
    bottom: -15%;
    background-color: $lightBlack;
    color: $tooltipWhite;
    border-radius: 4px;
    display: none;
}
.user-list__name:hover ~ .tooltip-name {
    display: block;
}
.user-list__email:hover ~ .tooltip-email {
    display: block;
}
